<!-- <div class="green">
    <h1 *ngIf="!productSelected">Please Select Any Product</h1>
    <h1 *ngIf="productSelected">{{item}} Selected</h1>
    <button class="ac" (click)="addToCart()">Add to Cart</button>
</div> -->

<div class="box">
    <div class="user">
        <input type="text" #user placeholder="Create User"><br><br>
        <button (click)="createUser(user)">CREATE</button>
        <p>Total count : {{userCount}}</p>
    </div>
    <div class="admin">
        <input type="text" #admin placeholder="Create Admin"><br><br>
        <button (click)="createAdmin(admin)">CREATE</button>
        <p>Total count : {{adminCount}}</p>
    </div>
</div>