.box{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 40vh;
    background-color: lightblue;
}
.logo{
    width: 40%;
    /* background: linear-gradient(transparent),url(/src/assets/angular-logo.png); */
}
.logo img{
    width: 50%;
    margin-left: 70px;
    margin-top: 20px;
}
.discription{
    width: 60%;
    display: flex;
}
.big{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
